{% extends "base.jinja2" %}

{% macro render_service(service) %}


class {{ service.class_name }}(BaseProxy):
    """
    Proxy-converter to grpc for {{ service.full_name }}.
    """

    logger = logging.getLogger('{{ service.full_name }}')

    def __init__(self, client: {{ service.name }}Client, middlewares: List[BaseProxyMiddleware]):
        super().__init__(client, middlewares)
    {% if service.methods %}
        {% for method in service.methods.values() %}

    def {{ to_snake_case(method.name) -}}(
            self,
            request: {{ method.input_string }}
    ) -> {{ method.output_string }}:
        return self.client.{{ to_snake_case(method.name) }}(request)
        {% endfor %}
        {% for method in service.methods.values() %}

    @signature_types({{ method.input_string }}, {{ method.output_string }})
    def _{{ to_snake_case(method.name) -}}(self) -> {{ method.output_string  }}:
        return self.{{ to_snake_case(method.name) }}(flask_request)
        {% endfor %}

    def bind(self, app: flask.Flask):
        {% for method in service.methods.values() %}
            {% if not loop.first %}

            {% endif %}
        self.{{ to_snake_case(method.name) }} = apply_middlewares(self.{{ to_snake_case(method.name) }}, *self.middlewares)

        app.add_url_rule(
            rule='/{{ service.no_root_name }}/{{ method.name }}',
            view_func=self._{{ to_snake_case(method.name) }},
            methods=('POST', 'GET'),
            endpoint='{{ service.no_root_name }}/{{ method.name }}',
        )
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block code %}
{% for servcice in services.values() %}
{{ render_service(servcice) }}
{% endfor %}
{% endblock %}
